
  table.dataTable tbody th, table.dataTable tbody td{
    padding: 2px 2px !important;
  }

  thead {
   box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

label{
  padding: 5px;
  font-size: 15px;
}

.boton{
    border: rgb(255, 255, 255) 2px solid;
    color: rgb(255, 255, 255);
    background-color: coral;
}

.boton:hover{
  color: coral;
  background-color: rgb(255, 255, 255);
  border: coral 2px solid;
}

.boton-w{
  width: 100%;
  font-size: 15px;
}

main.darkmode .sb-nav-fixed #layoutSidenav #layoutSidenav_content{
  background-color: #212529;
  color:white;
}

main.darkmode{
  background-color: #212529;
  color:#ffffff;
}

main.darkmode label{
  color: rgb(255, 255, 255);
  font-size:14px;
}

main.darkmode option{
  background-color: #f2f3f3;
  color: rgb(39, 39, 39);
}

main.darkmode select{
  background-color: #242424;
  color: rgb(255, 255, 255);
}

main.darkmode input{
  background-color: #212529;
  color: white;
}

body.darkmode {
  background-color: #212529;
}

main.darkmode .dataTables_wrapper .dataTables_length select{
  color: rgb(255, 255, 255);
}


main.darkmode .dataTables_wrapper .dataTables_paginate .paginate_button{
  color:#c3c3c3 !important;
  background-color: rgb(183 56 56)
}


main.darkmode .boton{
  border: #ff6500 solid 1px;
  color: coral;
  background-color: #212529;
}

main.darkmode .boton:hover{
  border: #ff6500 solid 1px;
  color: coral;
  background-color: #3d3d3d;
}

body.darkmode h2{
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;;
  color: rgb(237 94 94);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}


main.darkmode .swal2-popup swal2-modal swal2-icon-warning swal2-show{
  background: #242424 !important;
  color: white !important;
}

body.darkmode .zona-cliente{
  background-color: #212529;
  color: white;
}

tr[draggable="true"] {
  cursor: move;
}