*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
}
table , td, th {
	border: 1px solid #595959;
	border-collapse: collapse;
}
td, th {
	padding: 3px;
	width: 30px;
	height: 25px;
}


.emp{
    background: #deeaf6;
    color: #0a0a0a;
    font-size: 12px;
    border-color: #0a0a0a;
}

.exp{
    background:  #deeaf6;
    font-size: 10px !important;
    text-align: right;
    
}

.exp2{
    background: #ffffff;
    font-size: 15px !important;
    border-color: white;
}

.exp-betanzos{
    background: #ffffff;
    font-size: 13px !important;
    font-family: arial;
    border-color: white;
}

.im{
    width: 180px;
}

.exp4{
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
}

.exp5{

    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    border-bottom-color: white;   
}


.comer{
    background:  #b6b6b6;
    font-size: 13px !important;
    text-align: center;
}

.comer2{
    background:  #777777;
    font-size: 14px !important;
    text-align: center;
    color:white;
    font-style: italic;
}

.comer3 th {
    background:  #c2c2c2;
    font-size: 12px !important;
    text-align: center;
    color: #0a0a0a;
    font-style: normal;
    font-weight: lighter;
    
    
}



